.about {
  margin-bottom: toRem(140);
  // .about__container
  &__container {
  }
  // .about__title
  &__title {
  }
  // .about__text
  &__text {
    max-width: 52.88em;
    color: $gray;
    line-height: 1.888;
    margin-bottom: toRem(70);

    span {
      color: $blue;
    }
  }
  // .about__gallery
  &__gallery {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: toRem(32);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 520px) {
      // grid-template-columns: repeat(auto, 1fr);
      grid-template-columns: auto;
      // grid-auto-flow: column;
    }
  }
  // .about__gallery-img
  &__gallery-img {
    clip-path: polygon(10% 0, 100% 0, 100% 73%, 89% 100%, 0 100%, 0 25%);

    @media (max-width: 520px) {
      height: toRem(196);
      clip-path: polygon(10% 0, 100% 0, 100% 73%, 89% 100%, 0 100%, 0 25%);
    }

    &:nth-child(2) {
      @media (max-width: 1024px) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      @media (max-width: 520px) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    picture {
      height: 100%;
    }
    // .about__gallery-img--big
    &--big {
      clip-path: polygon(15% 0, 100% 0, 100% 80%, 85% 100%, 0 100%, 0 18%);
      grid-row: 1/3;
      grid-column: 2/3;

      @media (max-width: 1024px) {
        grid-row: 2/3;
        grid-column: 1/3;
        max-height: toRem(424);
      }
      @media (max-width: 520px) {
        // clip-path: polygon(10% 0, 100% 0, 100% 88%, 90% 100%, 0 100%, 0 12%);
        clip-path: polygon(10% 0, 100% 0, 100% 73%, 89% 100%, 0 100%, 0 25%);
        grid-column: auto;
        grid-row: auto;
        // height: toRem(720);
      }
    }
  }
}