.info-hero {
  width: 100%;
  // max-width: toRem(624);
  padding: toRem(70);
  @include adaptiv-mp(70, 30, padding-top, 1024);
  @include adaptiv-mp(70, 30, padding-bottom, 1024);
  @include adaptiv-mp(70, 15, padding-left, 720);
  @include adaptiv-mp(70, 15, padding-right, 720);
  background-color: $yellow;

  @media (max-width: 720px) {
    text-align: center;
  }
  // .info__hero-text
  &__text {
    font-family: Archangelsk, sans-serif;
    // font-size: toRem(62);
    @include adaptiv-mp(62, 30, font-size, 1024);
    // margin-bottom: toRem(25);
    max-width: 7.8645em;

    @media (max-width: 720px) {
      max-width: none;
    }
  }
  // .info__hero-button
  &__button {
    font-size: toRem(24);
    line-height: 1.666; /* 166.667% */
  }
}