$OneRem: 16;

$fontFamily: 'Roboto', 'sans-serif';
$mainColor: #000;
$yellow: #F8F200;
$yellowHover: #c6c31f;
$white: #fff;
$gray: #777;
$blue: #52BEDC;

$maxWidth: 1920;
$minWidth: 320;

$containerWidth: 1280;

$pc: $containerWidth + px;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;